.penize { color: #32cd32 }
.zdravi { color: #ff0000 }

.pt { color: #add8e6 }
.au { color: #f5e98b }
.ag { color: #e0ffff }
.cu { color: #ffa500; }
.co { color: #c0c0c0 }

.white { color: #ffffff; }
.dynamit { color: #ffb500; }
.hidden { visibility: hidden; }